*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width: 100vw;
    height: 100vh;
    background-color: #2E86C1;
}

#action{
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#question{
    width: 50vw;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    background-color: #21618C;
    color: white;
    box-shadow: 0px 0px 12px 5px black;
    text-align: center;
}

#reponseDiv{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reponse {
    width: 20%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 0px 24px 0px #C39BD3;
    background-color: white;
}

#accepter, #time, #reset{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    width: 30%;
    padding: 3%;
    box-shadow: 0px 0px 24px 0px #C39BD3;
    background-color: white;
    font-size: 2rem;
    text-align: center;
}

#global{
    border: 1px solid black;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #85C1E9;
    box-shadow: 0px 0px 25px 15px black;
}

#score{
    font-size: 3rem;
    border-bottom: 1px solid red;
    background-color: white;
    box-shadow: 0px 0px 24px 0px #C39BD3;
    color: black;
    padding: 2%

}

#start{
    position: absolute;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: #154360;
    padding: 5rem;
}

